dist/
node_modules/
.firebase/
coverage/
device/**.js
device/**.js.map
functions/**.js
functions/**.js.map
firebase-debug.log
/functions/CloudApi/appsettings.Development.json
/functions/CloudApi/appsettings.Dev.json
