[Unit]
Description=Smart Home Discovery Service
After=multi-user.target

[Service]
Type=idle
ExecStart=npm start --prefix path -- --udp_discovery_port port --udp_discovery_packet [pack] --device_id someId

[Install]
WantedBy=multi-user.target
