[Unit]
Description=Smart Home App Service
After=multi-user.target

[Service]
Type=idle
ExecStart=npm start --prefix /home/pi/smart-home-local/app/ -- --host 0.0.0.0

[Install]
WantedBy=multi-user.target
