[Unit]
Description=Smart Home App Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/npm start --prefix /...

[Install]
WantedBy=multi-user.target
